.section-ergonomics {
    font-family: 'Ubuntu', sans-serif;
    background-color: $gray;
    background-size: 100%;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;


    .table {
        left: -1%;
        position: relative;

        &__top {
            position: relative;
            top: 0px;
        }

        &__bottom {
            position: absolute;
            top: 0;
            left: -0.1%;
        }

        &__up-btn,
        &__down-btn {
            position: absolute;
            top: 55%;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            font-weight: 300;
            font-size: 40px;
            z-index: 3;
            background-color: $light-blue;
            border: none;

            -webkit-transition: all 0.4s ease;

            -moz-transition: all 0.4s ease;

            -ms-transition: all 0.4s ease;

            -o-transition: all 0.4s ease;

            transition: all 0.4s ease;

            &:hover {
                cursor: pointer;

                -webkit-transform: scale(1.1);

                -moz-transform: scale(1.1);

                -ms-transform: scale(1.1);

                -o-transform: scale(1.1);

                transform: scale(1.1);

            }
        }


        &__up-btn {
            left: 34%;
        }

        &__down-btn {
            left: 52%;
        }

        &__up-btn-disabled,
        &__down-btn-disabled {
            opacity: 0.5;
        }


        &__up-btn-disabled:hover,
        &__down-btn-disabled:hover {
            border: none;

            -webkit-transform: scale(1);

            -moz-transform: scale(1);

            -ms-transform: scale(1);

            -o-transform: scale(1);

            transform: scale(1);

        }

    }


    &__about {
        position: relative;
        left: -15%;
    }

    &__title {
        color: $blue;
        font-size: 62px;
        line-height: 62px;
    }

    &__text {
        font-size: 22px;
        line-height: 37px;
        color: $black;
    }

    .text-mobil {
        display: none;
    }
}

@media (min-width:2050px) {
    .section-ergonomics {
        &__about {
            position: static;
            margin-right: 5%;
        }
    }

}

@media (max-width: 1520px) {
    .section-ergonomics {
        flex-wrap: wrap;

        .table {

            &__up-btn,
            &__down-btn {
                font-size: 12px;
                line-height: 20px;
                width: 61px;
                height: 61px;
            }
        }

        &__about {
            order: -1;
            position: static;
            margin-left: 3%;
        }

        &__title {
            font-family: 'Bebas Neue';
            font-size: 38px;
            line-height: 100%;
            text-transform: uppercase;
            align-self: flex-end;

        }

        .text-second {
            display: none;
        }

        .text-mobil {
            margin-left: 3%;
            display: block;
        }

        &__text {
            font-weight: 300;
            font-size: 16px;
            line-height: 170%;

        }
    }
}
